body{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    background-color: rgb(247, 246, 252);
    font-family: 'Open Sans', sans-serif;
}


/* make box-sizing predictable */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
    font-size: 30px;
}

.text-secondary{
    color: rgb(70, 71, 81);
}

.text-blue{
    color: rgb(29, 38, 154);
}

.background-blue{
    background-color: rgb(29, 38, 154);
}

.text-red{
    color: rgb(213, 0, 0);
}

.background-red{
    background-color: rgb(213, 0, 0);
}

.text-green{
    color: rgb(46, 125, 50);
}

.background-green{
    background-color: rgb(46, 125, 50);
}

.text-orange{
    color: rgb(255, 111, 0);
}

.background-orange{
    background-color: rgb(255, 111, 0);
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
      "sidebar header header header"
     "sidebar main main main";
    height: 100vh; 
}


/* ---------- HEADER ---------- */

.header{
    grid-area:  header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.2);
}

.menu-icon{
    display: none;
}


/* ---------- SIDEBAR ---------- */

#sidebar {
    grid-area: sidebar;
    height: 100vh;
    background-color: rgb(135, 174, 149); 
    color: rgb(255, 255, 255);
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
} 

.sidebar-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
}

.sidebar-title > span {
    display: none;
}

.sidebar-brand {
    margin-top: 15px;
    font-size: 30px;
    font-weight: 700;
}

.sidebar-brand > .material-icons-outlined {
    font-size: 50px;
}

.sidebar-list {
    padding: 0;
    margin: 15px;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
}

.sidebar-list-item:hover {
    background-color: rgba(62, 80, 63, 0.909);
    cursor: pointer;
}

.sidebar-list-item > a {
    text-decoration: none;
    color: rgb(230, 231, 240);
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
}

 
/* ---------- MAIN ---------- */
.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
}  


.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
   display: grid; 
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
   margin: 20px 0;
   grid-auto-rows: 1fr;    /* force each row to have equal height */
   align-items: stretch;   /* make grid items stretch to fill the row */
}

/* ensure each card fills its grid cell */
.card{
   display: flex; 
   flex-direction: column;  
   justify-content: space-between;
   padding: 25px;
   color: rgb(255, 255, 255);
   border-radius: 30px;
   box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
   height: 100%;           /* fill the grid row */
}

/* remove default heading margins so content sizing is consistent */
.card h1,
.card h2 {
  margin: 0;
}

.card:first-child{
   background-color: rgb(213, 0, 0); 
}

.card:nth-child(2){
   background-color: rgb(15, 18, 15); 
}

.card:nth-child(3){
   background-color: rgb(255 ,111, 0); 
}

.card:nth-child(4){
   background-color: rgb(29, 38, 154); 
}

.card-inner{
   display: flex; 
   align-items: center;
   justify-content: space-between;
}

.card-inner > span{
    font-size: 50px;
}