*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg,#66757e74);
}
.container{
    max-width: 700px;
    width: 100%;
    background: rgba(32, 137, 62, 0.557);
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title ::before{
    content: '';
    position: absolute;
    left: o;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: rgba(32, 137, 62, 0.557);
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
form .user-details .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    color: black; /* Change text color */
    
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: rgb(5, 5, 8);
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.gender-details .category label{
    display: flex;
    align-items: center;
    
}
span input{
    color: black;
    width: 45px;
}

/* .gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 20%;
    margin-right: 20px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    display: inline-block;
} */

/* Show black dot when selected */
input[type="radio"]:checked + .dot {
    background: white;
    border-color: #000;
    padding-right: 20px;
    color: #000;
    position: fixed;
}

.span1 input [type="radio"]{
    color: #000;
    width: 30px;
}

/* #dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-color: black;
    background: #060606;
} */
form input[type="ratio"]{
    display: none;
    border-color: black;
}
input[type=radio] {
    accent-color: black;
    display: inline-block;
}
